.dingmenubtns{
	width:100%;height:50px;line-height:50px;font-size:14px;font-weight:bold;text-align:center;position:absolute;left:0px;bottom:0px;background:#F8F8F8;
	border-top: 1px #C7C7CC solid;z-index: 2;
}
.ddmenubtn{
	width:32%;height:100%;float:left;color: #1093EF;font-family: Arial,微软雅黑;line-height:50px;cursor: pointer;
}
.ddmenuline{
	width:2%;height:100%;float:left;color: #C7C7CC;
}
.ddmenuicon{
	width: 26px;
	height: 26px;
	margin-bottom: -7px;
}
.dingmenuinfo{
	width:auto;height:auto;position:fixed;top:0px;left:0px;right:0px;bottom:0px;background:#fff;overflow:hidden;border-radius:0px;
	display: none;z-index: 1000;
}
.dingmenuclose{
	position: fixed;
	top: 5px;
	right: 5px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #1093EF;
	border: 0px #1093EF solid;
	border-radius: 18px; 
	font-size: 50px;
	text-align: center;
	z-index: 1000;
}
.ddgotop {
	position: fixed;
	bottom: 55px;
	right: 5px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 50px;
	background-color: #000;
	border-radius: 3px;
	color: #FFF;
	font-size: 30px;
	text-align: center;
	opacity: .3;
	z-index: 2000;
	display: none;
}
.dduser_titlename2{
	float: left;
	margin-left: 15px;
}
.dduser_add,.dduser_clear{
	width:24px;
	height: 24px;
	line-height: 24px;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	border: 1px #1093EF solid;
	border-radius: 14px; 
	cursor: pointer;
}
.dduser_list{
	overflow: hidden;
	border-bottom: 1px #C7C7CC solid;
	padding: 0px 5px;
}
.dduser_item2{
	float: left;
	margin: 5px;
	font-size: 14px;
	background: #EFEFF4;
	border-radius: 12px; 
	padding-left: 5px;
	padding-right: 3px;
}
.dduser_name{
	height: 28px;
	line-height: 28px;
	float: left;
	padding-left: 2px;
}
.dduser_del{
	width: 20px;
	height: 28px;
	line-height: 28px;
	float: left;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #008CEE;
}
.dduser_head{
	height: 46px;
	line-height: 46px;
	font-weight: bold;
	color: #1093EF;
	font-size: 16px;
}
.dduser_title{
	height: 46px;
	line-height: 46px;
	font-weight: bold;
	padding-left: 0px;
	font-size: 16px;
	border-bottom: 1px #C8C8CA solid;
	overflow: hidden;
	cursor: pointer;
}
.dduser_checkall{
	width:20px;
	height:20px;
	float: left;
	margin-top: 13px;
	margin-left: 15px;
	margin-right: 15px;
}
.dduser_titlename{
	float: left;
}
.dduser_item{
	height:50px;
	font-size: 14px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.dduser_check{
	width:20px;
	height:20px;
	position: absolute;
	top: 15px;
	left: 15px;
}
.dduser_iteminfo{
	border-bottom: 1px #C8C8CA solid;
	position: absolute;
	left: 50px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.dduser_itemname{
	position: absolute;
	font-size: 16px;
	top: 5px;
	left: 55px;
}
.dduser_itemjob{
	position: absolute;
	font-size: 12px;
	top: 7px;
	right: 15px;
	color: #A1A1A1;
}
.dduser_itemsub{
	position: absolute;
	font-size: 12px;
	bottom: 5px;
	left: 55px;
	color: #A1A1A1;
	white-space: nowrap;
    right: 15px;
    overflow: hidden;
}
.dduser_itemdepart{
	position: absolute;
	font-size: 12px;
	bottom: 5px;
	right: 15px;
	color: #A1A1A1;
	white-space: nowrap;
	background: #fff;
    padding-left: 5px;
    z-index: 2;
}
.dduser_himg{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 5px;
	border-radius: 20px; 
}

#dingmenuusers {
	position:absolute;
	z-index:1;
	top: 0px;
	bottom:50px;
	left:0px;
	width:100%;
	overflow: auto;
}
#scroll-scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width:100%;
	padding:0;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.dduser_more{
	text-align: center;
	line-height: 36px;
	font-size: 20px;
}
.wxmenubtn{
	width:100%;height:100%;float:left;color: #1093EF;font-family: Arial,微软雅黑;line-height:50px;font-size: 18px;cursor: pointer;
}
/**正式系统请假流程历史记录隐藏*/
#ifr{
	display:none !important;
}

.tblBlock{
	background: none !important;
}

.message_before{
	background-color: #F4F4F5 !important;
}
#fileViewDiv{
	width:100%;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	background:#fff;
	z-index:1000;
	-webkit-overflow-scrolling: touch; 
 	overflow-y: scroll; 
}
#userSignRemark{
	/*background-size: 80% 80% !important;*/
}
