*,html{
	font-family: 'Microsoft Yahei', Arial;
}
#page{
	position: absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	height: 100%;
	width: 100%;
	background:#fff;
	overflow: hidden;
}
#page-title{
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: rgb(255, 255, 255);
	padding: 0;
	overflow: hidden;
}
#page-pa{
	position: absolute;
	z-index: 2;
	width: 85%;
	height: 30px;
	text-align: center;
	top: 5px;
	margin-left:5%;
	margin-right:5%;
}

#page-pa > a,
#page-pa > span {
	height: 30px;
	line-height: 30px;
	display: inline-block;
}

#page-pa > a img {
	vertical-align: sub;
}


#page-hand{
	position: absolute;
	z-index: 2;
	width: 85%;
	height: 30px;
	text-align: center;
	top: 5px;
	margin-left:5%;
	margin-right:5%;
}
#page-hand > a,
#page-hand > span {
	height: 30px;
	line-height: 30px;
	display: inline-block;
}

#page-hand > a img {
	vertical-align: sub;
}
#nav-header{
	width: 100%;
	height: 100%;
	background-color: rgb(183, 183, 183);
	overflow: hidden;
}
#nav-header .header-left{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	color: #fff;
	line-height: 50px;
	width: 40px;
	font-size: 16px;
	background: url('../img/back.png') no-repeat;
	background-position: center;
	background-size: 18px;
	cursor: pointer;
}
#nav-header .header-center{
	height: 100%;
	line-height: 50px;
	text-align: center;
	color:#fff;
	font-size: 18px;
	font-weight: bold;
}
#nav-header .header-right{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 56px;
	background: url('../images/ok.png') no-repeat;
	background-size: 32px;
	background-position: center;
	cursor: pointer;
}
.page_center{
	position: absolute;
	z-index: 2;
	top: 50px;
	left: 2%;
	bottom: 70px;
	width: 96%;
	overflow: hidden;
	border: 1px #D0E0FD dashed;
}

#result-footer{
	position: absolute;
	z-index: 3;
	left: 0px;
	bottom: 0px;
	height: 55px;
	padding-top:5px;
	width: 100%;
	background:#fafafa;
	border-top: 1px solid #aeaeae;
}
.table{
	width:100%;
	border:none;
	table-layout: fixed;
}
.text{
	line-height:36px;
	text-align:center;
}
.btn{
	padding:30px 0px 0px 0px;
	cursor: pointer;
	text-align: center;
}
.linewidth{
	background: url('../images/signature/pen_size.png') top center no-repeat;
	background-size:30px 30px;
}
.linewidth_hover{
	background: url('../images/signature/pen_size_pressed.png') top center no-repeat;
	background-size:30px 30px;
}
.linecolor{
	background: url('../images/signature/color_picker.png') top center no-repeat;
	background-size:30px 30px;
}
.linecolor_hover{
	background: url('../images/signature/color_picker_pressed.png') top center no-repeat;
	background-size:30px 30px;
}
.linescale{
	background: url('../images/signature/scale_picker.png') top center no-repeat;
	background-size:30px 30px;
}
.linescale_hover{
	background: url('../images/signature/scale_picker_pressed.png') top center no-repeat;
	background-size:30px 30px;
}
.lineerasure{
	background: url('../images/signature/eraser.png') top center no-repeat;
	background-size:30px 30px;
}
.lineerasure_hover{
	background: url('../images/signature/eraser_pressed.png') top center no-repeat;
	background-size:30px 30px;
}
.linecancel{
	background: url('../images/signature/undo.png') top center no-repeat;
	background-size:30px 30px;
}
.lineclear{
	background: url('../images/signature/clear_screen.png') top center no-repeat;
	background-size:30px 30px;
}
.linereset{
	background: url('../images/signature/forward_icon.png') top center no-repeat;
	background-size:20px 20px;
}
.rasure{
	background: url('../images/signature/paint_wrap_normal.png') top center no-repeat;
	background-size:30px 30px;
}
.hand{
	background: url('../images/signature/btn_wrting_normal.png') top center no-repeat;
	background-size:30px 30px;
}
.whiteboard{
	background: url('../images/signature/map_bottom_text.png') top center no-repeat;
	background-size:20px 20px;
}
.hideNav{
	height:45px;
	background:#fafafa;
	border-top:1px solid #aeaeae;
	position:absolute;
	left:0;
	right:0;
	bottom:60px;
	display: none;
}
.width{
	width:100%;
	height:40px;
}
.width1{
	background: url('../images/signature/size_1_2.png') center no-repeat;
	background-size:20px 20px;
}
.width1_hover{
	background: url('../images/signature/size_1_1.png') center no-repeat;
	background-size:20px 20px;
}
.width2{
	background: url('../images/signature/size_2_2.png') center no-repeat;
	background-size:20px 20px;
}
.width2_hover{
	background: url('../images/signature/size_2_1.png') center no-repeat;
	background-size:20px 20px;
}
.width3{
	background: url('../images/signature/size_3_2.png') center no-repeat;
	background-size:20px 20px;
}
.width3_hover{
	background: url('../images/signature/size_3_1.png') center no-repeat;
	background-size:20px 20px;
}
.width4{
	background: url('../images/signature/size_4_2.png') center no-repeat;
	background-size:20px 20px;
}
.width4_hover{
	background: url('../images/signature/size_4_1.png') center no-repeat;
	background-size:20px 20px;
}
.width5{
	background: url('../images/signature/size_5_2.png') center no-repeat;
	background-size:20px 20px;
}
.width5_hover{
	background: url('../images/signature/size_5_1.png') center no-repeat;
	background-size:20px 20px;
}
.width6{
	background: url('../images/signature/size_6_2.png') center no-repeat;
	background-size:20px 20px;
}
.width6_hover{
	background: url('../images/signature/size_6_1.png') center no-repeat;
	background-size:20px 20px;
}
.color{
	width:100%;
	height:40px;
}
.color1{
	background: url('../images/signature/paint_a1.png') center no-repeat;
	background-size:20px 20px;
}
.color1_hover{
	background: url('../images/signature/paint_b1.png') center no-repeat;
	background-size:20px 20px;
}
.color2{
	background: url('../images/signature/paint_a2.png') center no-repeat;
	background-size:20px 20px;
}
.color2_hover{
	background: url('../images/signature/paint_b2.png') center no-repeat;
	background-size:20px 20px;
}
.color3{
	background: url('../images/signature/paint_a3.png') center no-repeat;
	background-size:20px 20px;
}
.color3_hover{
	background: url('../images/signature/paint_b3.png') center no-repeat;
	background-size:20px 20px;
}
.color4{
	background: url('../images/signature/paint_a4.png') center no-repeat;
	background-size:20px 20px;
}
.color4_hover{
	background: url('../images/signature/paint_b4.png') center no-repeat;
	background-size:20px 20px;
}
.color5{
	background: url('../images/signature/paint_a5.png') center no-repeat;
	background-size:20px 20px;
}
.color5_hover{
	background: url('../images/signature/paint_b5.png') center no-repeat;
	background-size:20px 20px;
}
.color6{
	background: url('../images/signature/paint_a6.png') center no-repeat;
	background-size:20px 20px;
}
.color6_hover{
	background: url('../images/signature/paint_b6.png') center no-repeat;
	background-size:20px 20px;
}